<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppEnvironment</key>
	<string>$(APP_ENVIRONMENT)</string>
	<key>CKSharingSupported</key>
	<true/>
	<key>NSFaceIDUsageDescription</key>
	<string>CoupleSpace 使用 Face ID 保護你們的私密內容。</string>
	<key>SupabasePublishableKey</key>
	<string>$(SUPABASE_PUBLISHABLE_KEY)</string>
	<key>SupabaseURL</key>
	<string>https://lyqiyuzuwbqorwmhkfed.supabase.co</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
